*,
*::before,
*::after {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}
html {
  font-size: 62.5%;
  scroll-behavior: smooth;
}
h1,
h5 {
  color: #161a1d;
}
a {
  text-decoration: none;
}
